.meals {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 0fr));
  gap: 40px;
  border-radius: 10px;
}
.meals .meal {
  position: relative;
  background-color: #d7e5d7;
}
.meals .meal img {
  width: 100%;
  border-radius: 10px;
}
.meals .meal button {
  position: absolute;
  right: 0;
  border: none;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  bottom: 0;
}
.meals .meal button img {
  width: 30px;
}
.meals .meal .desc {
  padding: 20px 10px;
  font-size: 20px;
  color: #43b341;
  font-weight: bold;
}
.meals .meal .desc p {
  margin: 0;
  line-height: 2;
}
.meals .add-meal button {
  border: none;
  cursor: pointer;
  background-color: #f3f3f3;
}
.meals .add-meal {
  width: 82px;
}
.meals .add-meal img {
  cursor: pointer;
}
.add-meal-form {
  position: fixed;
  top: 100px;
  left: 450px;
  display: block;
  background-color: #fff;
  background-color: #f5f2f2;
  width: 400px;
  height: 350px;
  padding-left: 30px;
  padding-top: 40px;
  padding: 50px;
  z-index: 10;
  outline: 9999px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cancel-form,
.add-form {
  width: fit-content;
  box-shadow: 4px 4px 0px 0px rgb(184 229 188);
  background-color: #84c184;
  color: white;
  border: none;
  margin-left: 20px;
  margin-top: 50px;
  padding: 10px 20px;
  cursor: pointer;
}
.cancel-form:active,
.add-form:active {
  transform: translate(-3px, -3px);
}
.total-calories {
  font-size: 20px;
  margin: 20px;
  display: flex;
  margin-bottom: 45px;
}
.form-header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  gap: 60px;
  font-size: 27px;
  color: #4a4a4a;
}
.form-header img {
  width: 135px;
  height: 113px;
  border-radius: 50%;
}
